@model CompanyDefender.Models.DeviceLogsAnalysis.Employee

<h3>@Model.name</h3>
<div>
    <p>
        <b>Dział: </b> @Model.department<br />
        <b>Stanowisko(a): </b>@Model.roles<br />
        <b>E-mail: </b>@Model.mail
    </p>
</div>

