@model string
@{
    ViewBag.Title = "About";
}

<script type="text/javascript">
alert("You clicked!")
</script>


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>@Model</h2>

<p>Use this area to provide additional information.</p>


    
