@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link href="~/Content/my-css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>
</head>

<body>
    <div class="header">
        <h1>Company Defender</h1>
        <p>
            System monitoruje oraz analizuje incydenty bezpieczeństwa wykorzystując wiele źródeł danych. <br>
            To dzięki niemu zapewnisz swojej firmie najlepszą możliwą ochronę - zarówno wobec zewnętrznych,
            jak i wewnętrznych zagrożeń.
        </p>
    </div>

    <div class="my-row">
        <div class="Image feature">
            <h2>@Html.ActionLink("Analiza korespondencji", "AllMails", "Home")</h2>
            <p>
                Firmy, korzystając z systemów mailowych, mają możliwość analizy wysyłanych przez pracowników wiadomości.
                Z perspektywy bezpieczeństwa jest to kluczowa kwestia umożliwiająca śledzenie sposobu, w jaki odbywa się
                komunikacja w firmie oraz analizowanie czy zachowane są wszelkie standardy wymiany poufnych informacji. 
            </p>
        </div>
        <div class="feature">
            <h2>@Html.ActionLink("Analiza logów urządzeń", "DeviceLogsAnalysis", "Home")</h2>
            <p>
                Zarówno smartphony, jak i komputery posiadają opcje zbierania logów systemowych. Dane w nich zawarte są cenne
                w kontekście cyberbezpieczeństwa firm. Dzięki nim można określić np. jakie aplikacje są uruchamiane, czy program
                antywirusowy jest aktywny lub jakie strony internetowe są odwiedzane przez użytkowników. Analiza logów może być
                pomocna w wykrywaniu incydentów związanych z bezpieczeństwem.
            </p>
        </div>
        <div class="feature">
            <h2>@Html.ActionLink("Analiza logów systemów wewnętrznych", "InternalSystemsAnalysis", "Home")</h2>
            <p>
                Firmy zazwyczaj używają wiele wewnętrznych systemów np. do tworzenia raportów, ewidencjonowania pracy, 
                rezerwacji urlopów lub innych działań operacyjnych. Każdy z tych systemów może udostępniać dane dotyczące 
                akcji podejmowanych przez użytkowników. Company Defender korzysta z takich 
                danych w celu analizy i wykrywania sytuacji potencjalnie zagrażających.
            </p>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('h2').addClass('text-h2');
            $('p').addClass('text-p');
        });
    </script>


</body >
</html >


