.zebra {
    background-color: #80bfff;
}
.zebraHover {
    background-color: #ffa366;
}
#mynetwork {
    width: 1140px;
    height: 400px;
    border: 4px dotted #80bfff;

}
.navbar-inverse {
    background-color: #80bfff !important;
}
.navbar-brand {
    color: #000000 !important;
}
.nav.navbar-nav li a {
    color: #000000 !important;
}

